[submodule "grantshares-contracts"]
	path = grantshares-contracts
	url = https://github.com/AxLabs/grantshares-contracts
[submodule "grantshares-app"]
	path = grantshares-app
	url = git@github.com:AxLabs/grantshares-app.git
