[submodule "grantshares-contracts"]
	path = grantshares-contracts
	url = https://github.com/AxLabs/grantshares-contracts
[submodule "grantshares-dapp"]
	path = grantshares-dapp
	url = https://github.com/AxLabs/grantshares-dapp
